<div class="col-md-4 col-md-offset-4">
  <h1>Editing Topic</h1>

  <hr>
  <%= simple_form_for @topic do |f| %>
    <div class="form-group">
      <%= f.input :title %>
      <%= f.input :description %>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
  <% end %>
  <%= link_to 'Show', @topic %> |
  <%= link_to 'Back', topics_path %>
</div>

